.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 10px 2rem 10px;
}
.search {
	display: flex;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	width: 600px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
}
/* .new-search {
	display: flex;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	width:80%;
	border-radius:16px;
	-webkit-border-radius:16px;
	-moz-border-radius:16px;
	-ms-border-radius:16px;
	-o-border-radius:16px;
} */
.search input,.new-search input{
	background-color: #fff;
	border: none;
	font-size: 14px;
	height: 50px;
}
.search input:focus,.new-search input:focus {
	outline: 1px solid #333;
	border: none;
}

/* ===================
search city
=====================*/
.city {
    position: relative;
	color: #333333;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	width: 100%;
	flex: 2;
	border-radius: 16px 0 0 16px;
	-webkit-border-radius: 16px 0 0 16px;
	-moz-border-radius: 16px 0 0 16px;
	-ms-border-radius: 16px 0 0 16px;
	-o-border-radius: 16px 0 0 16px;
}
.city-popup {
	position: absolute;
    top: 130px;
	padding: 1rem;
	width: 100%;
    background-color: #fff;
    z-index: 99;
}
.city-popup ul {
	line-height: 3;
}
.city-popup ul li{
	display: flex;
	align-items: center;
	column-gap: 4px;
}

/* ===============
 add guest
================ */
 .add-guest {
	position: relative;
	margin-left: 0.2rem;
	flex: 2;
	border-left: 1px solid #f2f2f2;
	text-align: center;
	width:100%;
}

.age-range {
	position: absolute;
	top: 130px;
	z-index: 99;
	background-color: #fff;
	width: 100%;
}
.guest-type {
	padding: 20px;
	line-height: 2;
}
.guest-type span {
	margin-inline: 5px;
	color: #333333;
}
.guest-type button {
	padding: 3px 5px;
	border: 1px solid #333;
	background: none;
}
.search-button {
	background-color: none;
	border: none;
	border-left: 1px solid #f2f2f2;
	height: 50px;
	width: 100px;
	border-radius: 0 16px 16px 0;
	text-align: center;
	color: #eb5757;
	-webkit-border-radius: 0 16px 16px 0;
	-moz-border-radius: 0 16px 16px 0;
	-ms-border-radius: 0 16px 16px 0;
	-o-border-radius: 0 16px 16px 0;
}
